name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Build Docker Image
      run: docker build -t ${{ github.event.repository.name }} .
    
  publish-docker-image-to-dev:
      name: Build and Push Docker Image to Dev Registry
      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v3
      - 
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME_DEV }}
          password: ${{ secrets.DOCKER_PASSWORD_DEV }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME_DEV }}/${{ github.event.repository.name }}:latest

  publish-docker-image-to-main:
      name: Build and Push Docker Image to Main Registry
      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v3
      - 
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME_MAIN }}
          password: ${{ secrets.DOCKER_PASSWORD_MAIN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME_MAIN }}/${{ github.event.repository.name }}:latest
  
  deploy-to-dev:
    needs: publish-docker-image-to-dev
    name: Deploy to Dev Server
    runs-on: ubuntu-latest
    steps:
      - if: github.ref == 'refs/heads/dev'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEV_IP_SERVER }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: export $(cat .env | xargs) && docker pull ${{ secrets.DOCKER_USERNAME_DEV }}/${{ github.event.repository.name }} && docker-compose -f ${{ secrets.WORK_DIR }}/docker-compose.yml up -d

  deploy-to-main:
    needs: publish-docker-image-to-main
    name: Deploy to Main Server
    runs-on: ubuntu-latest
    steps:
      - if: github.ref == 'refs/heads/main'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.MAIN_IP_SERVER }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: export $(cat .env | xargs) && docker pull ${{ secrets.DOCKER_USERNAME_MAIN }}/${{ github.event.repository.name }} && docker-compose -f ${{ secrets.WORK_DIR }}/docker-compose.yml up -d